*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./pexels-pixabay-206359.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    /* border: 1px solid red; */
    backdrop-filter: blur(10px);
    width: 40%;
    height: 50%;
    display: flex;
}
.register{
    backdrop-filter: blur(10px);
    text-align: center;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;
    border-radius: 10px;
}
.logo{
    margin: 20px 0;
}
.register input[type="text"]{
    border: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(5px);
    background: url(./user-removebg-preview.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: rgba(128, 128, 128, 0.432);
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
}
.register input[type="email"]{
    background: url(./_12324-removebg-preview.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: rgba(128, 128, 128, 0.432);
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
}
.register input[type="password"]{
    background: url(https://www.freeiconspng.com/uploads/black-lock-icon-14.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: rgba(128, 128, 128, 0.432);
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
}
.register button{
    background-color: #F2212E;
    border: none;
    border-radius: 8px;
    color: white;
    margin: 10px 0;
    height: 30px;
}
.register p{
    margin: 10px 0;
}
.register a{
    text-decoration: none;
    color: black;
    margin: 5px 0;
}
.icons{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}
.icon{
    padding-top: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
@media (max-width: 500px) {
    .container{
        width: 80%;
    }
    
}
@media (min-width: 501px) and (max-width: 700px) {
    .container{
        width: 60%;
    }
    
}
@media (max-height: 667px) {
    .container{
        height: 70%;
    }
    
}