*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    border: 1px solid red;
}
.login{
    text-align: center;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
}
.logo{
    margin: 20px 0;
}
.login input[type="text"]{
    background: url(https://icon2.cleanpng.com/20180529/bxp/avpqkaq1b.webp);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: rgba(128, 128, 128, 0.432);
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
}
.login input[type="password"]{
    background: url(https://www.freeiconspng.com/uploads/black-lock-icon-14.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: rgba(128, 128, 128, 0.425);
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
}
.login a{
    text-decoration: none;
    color: black;
    margin: 5px 0;
}
.login button{
    background-color: rgba(29, 86, 245, 0.938);
    border: none;
    border-radius: 8px;
    color: white;
    margin: 10px 0;
    height: 30px;
}
.login p{
    margin: 10px 0;
}
.icons{
    border: 1px solid green;
    display: flex;
    flex-wrap: wrap;
}
.icon{
    border: 1px solid gold;
    width: 30px;
    height: 30px;
    margin: 0 auto;
}