*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(./pexels-pixabay-206359.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    /* border: 1px solid red; */
    backdrop-filter: blur(10px);
    width: 40%;
    height: 50%;
    display: flex;
}
.login{
    backdrop-filter: blur(10px);
    text-align: center;
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 50px;
    border-radius: 10px;
}
.logo{
    margin: 20px 0;
}
.login input[type="text"]{
    background: url(./user-removebg-preview.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: rgba(128, 128, 128, 0.432);
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
}
.login input[type="text"]:active{
    box-shadow: 0 5px 20px  rgba(128, 128, 128, 0.425);
}
.login input[type="password"]{
    background: url(https://www.freeiconspng.com/uploads/black-lock-icon-14.png);
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-color: rgba(128, 128, 128, 0.425);
    margin: 10px 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 8px;
    border: none;
}
.login a{
    text-decoration: none;
    color: black;
    margin: 5px 0;
}
.login button{
    background-color: #F2212E;
    border: none;
    border-radius: 8px;
    color: white;
    margin: 10px 0;
    height: 30px;
}
.login button:hover{
    cursor: pointer;
    box-shadow: 0 4px 20px #F2212E;
}
button p:hover{
    transition: all;
    transition-duration: 1s;
    transform: rotateX(360deg);
  
}
.login button:active{
    transform: translateY(4px);
}
.login p{
    margin: 10px 0;
}
.icons{
    display: flex;
    justify-content: center;
}
.icon{
    padding-top: 5px;
    border: 1px solid gray;
    border-radius: 4px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
}
.icon:active{
    transform: translateY(4px);
}
@media (max-width: 500px) {
    .container{
        width: 80%;
    }
    
}
@media (min-width: 501px) and (max-width: 700px) {
    .container{
        width: 60%;
    }
    
}
@media (max-height: 667px) {
    .container{
        height: 70%;
    }
    
}